<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head :: head('Create a Post')"></head>
<body>
<header>
    <nav th:replace="partials/navbar.html :: nav"></nav>
</header>
<main class="pt-5 ">
    <div class="container bg-light tab-card mt-4 p-3">
        <form th:action="@{/post/new}" th:method="post" th:object="${post}">

            <!--    ENTER POST TITLE   -->
            <div class="form-group mb-3 px-4">
                <label id="title">Title</label>
                <input type="text" class="form-control" aria-label="Title"
                       aria-describedby="title" th:field="*{title}" required placeholder="title"/>
                <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
            </div>

            <!--    ENTER POST BODY -->
            <div class="form-group px-4">
                <label>Description</label>
                <textarea class="form-control" placeholder="body" aria-label="body"
                          rows="3" th:field="*{body}" minlength="10"></textarea>
                <p th:if="${#fields.hasErrors('body')}" th:errors="*{body}"></p>
                <p id="recipe-id"></p>
            </div>

            <div class="form-group d-flex justify-content-center align-items-center">
                <button sec:authorize="isAuthenticated()" th:if="${post.id == 0}"
                        class="btn text-center nav-link px-2" type="submit">
                    Submit
                </button>
            </div>
        </form>

    </div>
    <!--JS SCRIPTS-->
    <!--! MODALS-->
    <th:block th:include="partials/scripts :: scripts"></th:block>
    <script th:src="@{/js/post.js}"></script>

</body>
</html>