<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('View User Index')"></head>
<body>
<nav th:replace="partials/navbar :: nav"></nav>
<h1>User Index</h1>
<div th:each="user : ${users}">
    <p th:text="'Member since: ' + ${user.createdAt}"></p>
    <p th:text="'Username: ' + ${user.username}"></p>
    <p th:text="'Email: ' + ${user.email}"></p>
    <p th:text="'About Me: ' + ${user.aboutMe}"></p>
    <div th:each="post : ${user.posts}">
        <p th:text="${post.title}"></p>
    </div>
</div>







<div th:replace="partials/scripts :: scripts"></div>
</body>
</html>