<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head :: head('Dashboard')"></head>
<body>
<header>
    <nav th:replace="partials/navbar.html :: nav"></nav>
</header>
<!--NEW DASHBOARD-->
<div class="d-flex align-items-start">
    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-profile-tab" data-bs-toggle="pill" href="#v-pills-profile" role="tab"
           aria-controls="v-pills-profile" aria-selected="true">profile</a>
        <a class="nav-link" id="v-pills-mylists-tab" data-bs-toggle="pill" href="#v-pills-mylists" role="tab"
           aria-controls="v-pills-mylists" aria-selected="false">my lists</a>
        <a class="nav-link" id="v-pills-favorites-tab" data-bs-toggle="pill" href="#v-pills-favorites" role="tab"
           aria-controls="v-pills-favorites" aria-selected="false">favorites</a>
    </div>
    <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel"
             aria-labelledby="v-pills-profile-tab">
            <!--            MUSIC LISTS GO HERE-->
            <h5>Profile</h5>
            <div class="row px-2 pt-md-5">
                <div class="col-8 col-sm-9 mb-4">
                    <div class="mb-2">
                        <h2 id="profileName" class="mb-0 text-black" th:text="${user.username}"></h2>
                    </div>
                    <!-- IF CUSTOMER IS HAS ABOUT ME ELSE -->
                    <p class="text-white">
                        <em>
                            <small th:text="${user.getAboutMe()} ?: 'Introduce yourself to the community by writing a little about yourself.'"></small>
                        </em>
                    </p>

                    <div>
                        <!-- EDIT PROFILE LINK -->
                        <a th:href="@{/user/{id}/edit(id=${user.id})}" sec:authorize="isAuthenticated()" th:if="${isAuthor}"
                           type="button" class="btn yellow-text edit-btn rounded-pill shadow font-weight-bold">Edit
                            Profile</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="v-pills-mylists" role="tabpanel" aria-labelledby="v-pills-mylists-tab">
            <!--            USER LISTS GO HERE-->
            <h5 th:text="${user.username} + ' lists'">My Lists</h5>
            <div th:each="post : ${user.posts}">
                <div class="card m-4" style="width: 80%; margin:0 auto;">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${post.title}"></h5>
                        <h6 class="card-subtitle mb-2 text-muted" th:text="${post.author.username}"></h6>
                        <p class="pre-post-body card-text" th:text="${post.body}"></p>
                        <a th:href="@{/post/{id}(id=${ post.id })}" data-bs-toggle="modal" class="card-link">View
                            more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="v-pills-favorites" role="tabpanel" aria-labelledby="v-pills-favorites-tab">
            <!--            FAVORITE LISTS GO HERE-->
            <h5 th:text="${user.username} + ' favorites'">My Favorites</h5>
            <div th:each="favorite : ${user.favorites}">
                <td th:text="${favorite.post.title}"></td>
                <td th:text="${favorite.post.author.username}"></td>
                <td th:text="${favorite.post.createdAt}"></td>
                <td th:text="${favorite.post.updatedAt}"></td>
            </div>
        </div>
    </div>
</div>
<!--<main class="mb-5">-->
<!--    &lt;!&ndash;Main Container&ndash;&gt;-->
<!--    &lt;!&ndash; USER INFO &ndash;&gt;-->
<!--    <div class="container mt-4 pt-5">-->
<!--        <div class="row px-2 pt-md-5">-->
<!--            <div class="col-8 col-sm-9 mb-4">-->
<!--                <div class="mb-2">-->
<!--                    <h2 id="profileName" class="mb-0 text-black" th:text="${user.username}"></h2>-->
<!--                </div>-->
<!--                &lt;!&ndash; IF CUSTOMER IS HAS ABOUT ME ELSE &ndash;&gt;-->
<!--                <p class="text-white">-->
<!--                    <em>-->
<!--                        <small th:text="${user.getAboutMe()} ?: 'Introduce yourself to the community by writing a little about yourself.'"></small>-->
<!--                    </em>-->
<!--                </p>-->

<!--                <div>-->
<!--                    &lt;!&ndash; EDIT PROFILE LINK &ndash;&gt;-->
<!--                    <a th:href="@{/user/{id}/edit(id=${user.id})}" sec:authorize="isAuthenticated()" th:if="${isAuthor}"-->
<!--                       type="button" class="btn yellow-text edit-btn rounded-pill shadow font-weight-bold">Edit-->
<!--                        Profile</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; END USER INFO &ndash;&gt;-->

<!--        &lt;!&ndash;      DASHBOARD TABS&ndash;&gt;-->
<!--        <div class="container">-->
<!--            <ul class="nav nav-tabs row align-items-center justify-content-center">-->
<!--                &lt;!&ndash;        recipes&ndash;&gt;-->
<!--                <li class="nav-item col-4 col-md-2 px-0" id="userLists" title="Recipes">-->
<!--                    <a class="nav-link dashtab nav-tab-shadow text-center" href="#userListsTab" data-toggle="tab">-->
<!--                        <p class="text-white mb-0 small">recipes</p>-->
<!--                    </a>-->
<!--                </li>-->
<!--                &lt;!&ndash;        favorites&ndash;&gt;-->
<!--                <li class="nav-item col-4 col-md-2 px-0" id="userFavorites">-->
<!--                    <a class="nav-link dashtab nav-tab-shadow text-center" href="#userFavoritesTab" data-toggle="tab">-->
<!--                        <p class="text-white mb-0 small">favorites</p>-->
<!--                    </a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
<!--        &lt;!&ndash;      !DASHBOARD TABS&ndash;&gt;-->
<!--    </div>-->
<!--    <div class="d-flex justify-content-center align-items-center ">-->
<!--        <div class="container bg-light tab-card rounded-card shadow-lg mb-5">-->
<!--            <div class="tab-content  ">-->
<!--                &lt;!&ndash;      POSTS TAB&ndash;&gt;-->
<!--                <div class="tab-pane" id="#userListsTab">-->
<!--                    <div class="row justify-content-center py-5">-->
<!--                        <div th:each="favorite : ${user.favorites}" class="align-items-center justify-content-around">-->
<!--                            <div class="h-100 px-2 my-2 border-none bg-transparent recipe-card" style="width: 18rem;">-->
<!--                                <div class="card-body bg-transparent">-->
<!--                                    <h5 th:text="${favorite.post.title}"-->
<!--                                        class="card-title truncate font-weight-bold"></h5>-->
<!--                                    <div class="row align-items-baseline">-->
<!--                                        <div class="col-6">-->
<!--                                            <p th:text="${favorite.post.author.username}"></p>-->
<!--                                        </div>-->
<!--                                        <div class="col-3">-->
<!--                                            <div class="rounded-pill border text-center" style="width: 75px">-->
<!--                                                <i class="far fa-heart"></i> <span-->
<!--                                                    th:text="${favorite.post.favoritedBy.size()}"></span>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash;      FAVORITES TAB&ndash;&gt;-->
<!--                <div class="tab-pane" id="#userFavoritesTab">-->
<!--                    <div class="row justify-content-center py-5">-->
<!--                        <div th:each="favorite : ${user.favorites}" class="align-items-center justify-content-around">-->
<!--                            <div class="h-100 px-2 my-2 border-none bg-transparent recipe-card" style="width: 18rem;">-->
<!--                                <div class="card-body bg-transparent">-->
<!--                                    <h5 th:text="${favorite.post.title}"-->
<!--                                        class="card-title truncate font-weight-bold"></h5>-->
<!--                                    <div class="row align-items-baseline">-->
<!--                                        <div class="col-6">-->
<!--                                            <p th:text="${favorite.post.author.username}"></p>-->
<!--                                        </div>-->
<!--                                        <div class="col-3">-->
<!--                                            <div class="rounded-pill border text-center" style="width: 75px">-->
<!--                                                <i class="far fa-heart"></i> <span-->
<!--                                                    th:text="${favorite.post.favoritedBy.size()}"></span>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</main>-->

<!--MODALS-->
<div th:replace="partials/modals"></div>
<!--JS SCRIPTS-->
<div th:replace="partials/scripts :: scripts"></div>
<!--Get userId from Thyme to use in JS-->
<script th:inline="javascript">
    /*<![CDATA[*/
    const userId = /*[[${user.id}]]*/ '';
    /*]]>*/
</script>
<script th:src="@{/js/profile.js}"></script>
<script>

</script>
</body>
</html>
