* {
    margin:0; padding:0; box-sizing:border-box;
}

body{
    font-family: monospace;
    height: 100vh;
    background-color: #4B593E;
}
main{
    padding-bottom: 50px;
}
/* Navbar section */

.main-nav {
    width: 100%;
    height: 65px;
    position: relative;
    /*line-height: 65px;*/
    text-align: center;
    z-index: 1000;
    /*background-color: #03b090;*/
}

.main-nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
    font-family: monospace;

}

.main-nav div.logo a {
    text-decoration: none;
    color:#fec82e;
    font-size: 2.5rem;
}

.main-nav div.logo a:hover {
    color: #fff;
}

.main-nav div.main_list {
    height: 65px;
    float: right;
}

.main-nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0 3rem 0 0;
}

.main-nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-family: monospace;
    font-size: 2rem;
}

.main-nav div.main_list ul li a:hover {
    color: #fec82e;
    font-weight: 900;
}

.navTrigger {
    display: none;
}

.main-nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.pre-post-body {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
    white-space: pre-wrap;
}